[Unit]
Description=Periodic tiles polling
After=cloud-final.service
Wants=cloud-final.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
